RewriteEngine on
RewriteCond %{HTTP_HOST} ^williamhaleylaw\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.williamhaleylaw\.com$
RewriteRule ^/?$ "http\:\/\/www\.parkridgelaw\.com\/" [R=301,L]

<IfModule mod_rewrite.c>

 #Redirect all subdirectories to root
 #RedirectMatch permanent ^/.+/.*$ /

</IfModule>

AddHandler fcgid-script .fcgi
