body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 18px;
}

@media (min-width: 480px) {
  body {
    font-size: 24px;
  }
}

a {
  color: #04f;
}

#wrapper {
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  max-width: 900px;
  min-width: 280px; /* taking padding into account for 320px total */
}

/* consistent spacing between 'sections' */
#header,
#main,
form {
  margin-bottom: 1em;
}

form,
#footer {
  padding-top: 1em;
}

textarea {
  height: 5em;
}

form div {
  margin-bottom: 0.5em;
}

#header img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

#main div {
  line-height: 1.4em;
}

#footer {
  border-top: 3px solid black;
}

#header,
#footer {
  font-weight: bold;
  color: #000;
}

.button {
  border-radius: 5px;
  font-size: 1em;
}

form {
  border-top: 3px solid black;
}

form input,
form textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5em;
  font-size: 1em;
  padding: 0.25em;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.overlay .content {
	width: 8em;
	height: 7em;
	text-align: center;
	border-radius: 10px;
	opacity: 1;
	background: #fff;
	color: #000;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -4em;
	margin-left: -4em;
}
