body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 20px;
}

@media (min-width: 480px) {
  body {
    font-size: 24px;
  }
}

a {
  color: #04f;
}

#wrapper {
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  max-width: 900px;
  min-width: 280px; /* taking padding into account for 320px total */
}

/* consistent spacing between 'sections' */
#header,
#main,
form {
  margin-bottom: 1em;
}

form,
#footer {
  padding-top: 1em;
}

textarea {
  height: 5em;
}

form div {
  margin-bottom: 0.5em;
}

#header img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

#main div {
  line-height: 1.4em;
}

#footer {
  border-top: 3px solid black;
}

#header,
#footer {
  font-weight: bold;
  color: #000;
}

.button {
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1.5em;
}

form {
  border-top: 3px solid black;
}

form input,
form textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5em;
  font-size: 1.2em;
  padding: 0.25em;
}

.success {
  color: rgb(40, 167, 69);
}